* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #282828;
    color: #CCC;
    font-family: Source Code Pro, Fira Code Mono, monospace;
    font-size: 1.2em;
    height: 100%;
}

h1 {
    font-size: 1.8em;
}

ul li {
    padding-bottom: 5px;
    margin: 0 1em;
}

a {
    color: #21c906
}

.header-main {
    text-align: center;
    margin-bottom: 20px;
}

.main-container {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    min-height: 100%;
}

.main-content {
    flex: 1;
}


.photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    border: 4px solid #FFF;
    margin: 15px auto;
}

p {
    line-height: 1.4em;
    margin: 1em 0;
    text-align: justify;
}

hr {
    margin: 20px 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 0;
    margin: 0 0.5em;
}

.nav-links li:first-child {
    margin: 0;
}

footer {
    flex-shrink: 0;
}

.posted-at {
    color: #968f8f;
}

.posted-at-blog {
    margin-top: 10px;
}

.archive-list {
    list-style: none;
}
