---
permalink: /
title: charlag
---
<p>
	Extremely unfrequently updated website of me.
</p>
<p>
	Neurodivergent person who works in tech but who doesn't
	define themselves by it.
</p>
<p>
	Nature, mutual aid, urbanism. 	
</p>
<p>
	Helping people is important for me, that's why I do things
	for the Fediverse where I keep a very close
	circle of people around me. I am contributing to
	<a href="https://tusky.app">Tusky</a>
	for years (when I can) among other things.
</p>
<p>
	Professionaly I end up doing whatever that needs doing, although
	I am mostly experienced with client-side:
</p>
<ul>
  <li>ECMAScript, Web &amp; Node.js</li>
  <li>Android</li>
  <li>iOS</li>
  <li>Java &amp; other JVM things</li>
  <li>Networking</li>
  <li>Build &amp; CI infra</li>
</ul>
<p>and tried out/read about countless number of obscure things.</p>
<p>
	If you need a mentor in tech, hit me up.
</p>
<p>If you really want to contact me please write to <a href="mailto:charlag@tuta.io">charlag@tuta.io</a>
    or find me on Fediverse: <a rel="me" href="https://birb.site/@charlag/">@charlag@birb.site</a>.
