<footer>
    <hr>

    {% assign links = "about: archive:posts" | split: " " %}
    <ul class="nav-links">
        {% for link in links %}
            {% assign link_parts = link | split: ":" %}
            <li>
                {% if page.permalink == link_parts[1] %}
                    {{ link_parts[0] }}
                {% else %}
                    <a href="{{"/" | append: link_parts[1]}}">{{ link_parts[0] }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p>
        Content: Copyright ⓒ 2020 charlag
    </p>
    <p>
        <a
            href="https://github.com/charlag/charlag.github.io"
            target="_blank">Source code</a>
        is under
        <a
            href="https://www.gnu.org/licenses/gpl-3.0.en.html"
            target="_blank">
            GNU GPLv3</a>.
        Made with <a href="https://cobalt-org.github.io/" target="_blank">Cobalt.rs</a>.
    </p>
</footer>
