<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include "head_links.liquid" %}
    </head>
    <body>
        <div class="main-container">
            <div class="main-content">
                <h1 class="header-main">{{ page.title }}</h1>
                {{ page.content }}
            </div>
            {% include "footer.liquid" %}
        </div>
    </body>
</html>
