<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include "head_links.liquid" %}
    </head>
    <body>
        <div class="main-container">
            <h1>{{ page.title }}</h1>
            <div class="posted-at posted-at-blog">{{ page.published_date | date: "%F %R" }}</div>
            {{ page.content }}
            {% include "footer.liquid" %}
        </div>
    </body>
</html>
